body{
    display: flex;
    align-items: center;
    justify-content: center;

}

fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 20px;
}